<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/testsLog.log" filePattern="${basePath}/testsLog-%d{yyyy-MM-dd}_%i.log" >
			<PatternLayout pattern="%d{hh:mm:ss.SSS} [%t] %-5level %logger: %msg%n" />
			<SizeBasedTriggeringPolicy size="5000000" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{hh:mm:ss.SSS} [%t] %-5level %logger: %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>